﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <h2 style="color: red">"Hello, I'm Huu Huy'"</h2>
    <hr />
    @for (int i = 0; i <= 9; i++)
    {
        <li>Item @i</li>
    }
    <hr />
    @{
        int h = DateTime.Now.Hour;
    }
    @if (h < 12)
    {
        <p>Good morning! (@h)</p>
    }
    else
    {
        <p>Good afternoon! (@h)</p>
    }
</div>